<%- include('../partials/header') %>


<h1>Tasks</h1>
<a class="btn btn-success" href="/tasks/new">+ New Task</a>

<% if (!tasks || tasks.length === 0) { %>
    <p>No tasks listed.</p>

<% } else { %>

    <table class="table border-primary table-striped-columns ">
    <% tasks.forEach(task => { %>
    <div class="d-flex">
    
    <tr class="table">
        <div>
        <td class="text-center col-2"><a href="/tasks/<%=task._id %>" class="listItems"><%=task.name%></a> </td>
        <td><small class="badge <%= task.priority === 'High' ? 'bg-danger' : (task.priority === 'Medium' ? 'bg-warning text-dark' : 'bg-secondary') %>"><%= task.priority %></small></td>
        </div>
        <td><p class="mb-1">Due Date: <%= task.dueDate ? new Date(task.dueDate).toLocaleDateString() : '—' %></p></td>
        
        <td><a class="btn btn-primary btn-sm" href="/tasks/edit/<%= task._id %>">Edit</a></td>
        <td><a class="btn btn-info" href="/tasks/<%=task._id %>">More Details</a></td>
    </tr>
    </div>
    <% }) %>

</table>
<%}%>



<%- include('../partials/footer') %>

